@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #101010;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.changed::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #363636;
  background-color: black;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}

.changed:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  background-color: black;
  border-radius: 0;
}

@keyframes rainbow-stripe {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

.animate-rainbow-stripe {
  animation: rainbow-stripe 10s linear infinite;
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}


@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s ease infinite;
}

@keyframes rainbow-stripe {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

::selection{
  background: #042f2e;
  color: #00ffdd;
}

::-webkit-scrollbar{
  width: 1px;
}

.line{
  position: relative;
}

/* .line::after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #52A8FF;
  transition: width 0.3s ease-in-out;
  /* box-shadow: 0 0 30px 1px #52A8FF; */
/* } */


.fast-in-slow-out {
  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

.fast-in-slow-out:not(:hover) {
  transition-duration: 1500ms;
  transition-timing-function: ease-out;
}


/* 
.backgroundShadow::before{
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #0F2F57;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -2000;
} */



.swiper {
  width: 80%;
  height: 70vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.custom-fade-mask {
  -webkit-mask-image: linear-gradient(to right, black 0%, transparent 100%);
  mask-image: linear-gradient(to right, black 20%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
